html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
:root{
  --grisClaro:#676F8F;
  --grisOscuro:#494F66;
  --morado:#6F7DFF;
  --rojoPrincipal:#EF3340;
}
body{
  font-family: 'Lato', sans-serif;
  color: var(--grisOscuro);
  font-size: 62.5%;
}
a{
  text-decoration: none;
}
h1,h2,h3{
  margin: 0;
}
.container{
  max-width: 120rem;
  margin: 0 auto;
  width: 95%;
}
.navbar{
  padding: 2rem 1rem;
  display: flex;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
}

.navbar__imagen-logo{
  width: 8rem;
}
.navbar__opciones{
  display: flex;
}
.navbar__consulta{
  display: none;
  color: var(--gris2);
  margin-right: 1.5rem;
}
.navbar__numero{
  color:var(--morado) ;
}
@media(min-width:768px){
  .navbar__consulta{
    display: inline-block;
  }
  .navbar__imagen-logo{
    width: 10rem;
  }
}